@model MvcCv.Models.Entity.TblAdmin
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Yeni Kullanıcı Ekleme Sayfası</h3>
<br />
<form method="post">
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    <br />

    <button class="btn btn-warning">Kaydet</button>
</form>
